In [1]:
#1.write a statement (was)to print "Hello world"by using shell
"Hello world"
print("Hello world")

Hello world

In [2]:
#2.write a statement to print "Hello world" by using python print function"
print("Hello world")

Hello world

In [9]:
#3.was to initialize variable and values as 50
a=50
a=15.06
a=10+4j
a='b1010'
a=True
a=False
a="hello"
a=[10,20,30]
a=(10,20,30)
a=10,20,30
a={10,20,30}
a={10:20,20:30}

In [22]:
#4.was to initialize multi variable values are 120,150,250
a,b,c=120,150,250
a

120

In [23]:
#5.was to print the type of the data in given values
a=10
type(a)
a

10

In [25]:
#6.was to print the address of the memoryblock in the given address
a={10,20}
id(a)
a

{10, 20}

In [38]:
#7.was to print your details,first store your details extract the values and display it
name="pooja"
age=21
phone=6281355265
email='poojagaddam333@gmail.com'
pancard=True

In [40]:
#8.was to swap the two values with atemp variable and without temp variable
X="haii"
Y='bye'
temp=X
X=Y
X

'bye'

In [44]:
#9.was to initialize a value and print the value ,after print the value,then reinitialize the new value to the existing variable and display the values
#.Inistializatiion
a={'a'=="pyspiders"}
a

{False}

In [45]:
#.reinstialization
a=[10,20,30]
a

[10, 20, 30]

In [49]:
#.fetch
a

[10, 20, 30]

In [53]:
#10.was to covert single to multi value data type
a=10
a=str(a)
a

'10'

In [54]:
#11.was to concat the two multi variable data types (str,list,tuple,set,dict)
y="hello"
y+="world"
y

'helloworld'

In [55]:
#12.was to check the length of the collection
t=(20,20)
len(t)

2

In [61]:
#13.was to check find out the middle value of the given collectin
p=(10,20,30,40)
p[len(p)//2]

30

In [63]:
#14.was to concat the new string into the starting of the given string
a= " how r u"
b="hai"
b+a

'hai how r u'

In [68]:
#15.was to concat the new string into the ending of the given list
a= "world" 
b= "hello"
a+b

'worldhello'

In [69]:
#16.was to concat the string into middle of the given string
a="apple"
a[0:2]+"b"+a[3:]

'apble'

In [72]:
#17.was to concat the new string into middle of the given string
p='pyspiders'
p[len(p)//2]

'i'

In [84]:
#17
p='pyspiders'
p=p[0:len(p)//2]+'I'+p[(len(p)//2)+1:]
p

'pyspIders'

In [86]:
#18.was to modify the new charecter into middle of the given string
a="pyspiders"
a[len(a)//2]

'i'

In [92]:
#18.was to modify the new charecter into middle of the given string

a="pyspiders"
a[1:len(a)//2]+'L'+a[(len(a)//2)+2:1]
a

'pyspiders'

In [93]:
#19.was to modify the sequence of the charecter in the given string
a="pyspiders"
a="pyspiders"
a[0:3]+"PID"+a[6:]

'pysPIDers'

In [94]:
#20.was to replace  the old charecter into a new charecter of the given string
a="pyspiders"
a[:-4]+"D"+a[-3:]

'pyspiDers'

In [95]:
#21.was to delete the specific charecter into the given string
a="pyspiders"
a[:2]+a[3:]

'pypiders'

In [96]:
#22.was to delete the sequence charecter of the given string
a="pyspiders"
a[:3]+a[6:]

'pysers'

In [101]:
#23.was to concat the new string into the specific position of the given string
p="hai  are  you!"
p[0:4]+"how"+p[4:]

'hai how are  you!'

In [102]:
#24.was to concat the new value into starting of the given list 
l=[1,2,3]
id(l)

1265759858496

In [103]:
#25.was to concat the new value into ending of the given list 
r=['a','b','c']
id(r)

1265759695168

In [104]:
#26.was to concat the new value into middle of the given list 
l=[10,150.12,True,"hai"]
l[len(l)//2:len(l)//2]=['10','20']
l

[10, 150.12, '10', '20', True, 'hai']

In [107]:
#27.was to concat the new value into specific position of the given list 
l=[10,150.12,True,"hai"]
l[-2:-2]=[100,200]
l

[10, 150.12, 100, 200, True, 'hai']

In [108]:
#28.was to modify the new value into specific position of the given list 
l=[10,150.12,True,"hai"]
l[1]=15+6j
l

[10, (15+6j), True, 'hai']

In [109]:
#29.was to modify the new value into stating of the given list 
l=[10,150.12,True,"hai"]
l[0]={'abc:150'}
l

[{'abc:150'}, 150.12, True, 'hai']

In [110]:
#30.was to modify the new value into ending of the given list 
l=[10,150.12,True,"hai"]
l[-1]="helloworld"
l

[10, 150.12, True, 'helloworld']

In [111]:
#31.was to modify the new value into middle of the given list 
l=[10,150.12,True,"hai"]
l[len(l)//2]="helloworld"
l

[10, 150.12, 'helloworld', 'hai']

In [112]:
#32.was to modify the first 4 position value into the given list 
l=[10,20,30,40,50,60,70,80,90]
l[0:4]=['a','b','c','d']
l

['a', 'b', 'c', 'd', 50, 60, 70, 80, 90]

In [113]:
#33.was to modiffy the sequence of values into the given list
d=[1,2,3,4,5,6,7,8,9]
l[1::2]
l

['a', 'b', 'c', 'd', 50, 60, 70, 80, 90]

In [117]:
#34.was to delete the value in the specific positions of the given list
s=[1,3,4,5,16,7,64,6,81,15]
del s[4]
s

[1, 3, 4, 5, 7, 64, 6, 81, 15]

In [118]:
#35.was to delete new value into the ending of the  list
s=[1,3,4,5,16,7,64,6,81,15]
del s[-1]
s

[1, 3, 4, 5, 16, 7, 64, 6, 81]

In [119]:
#36.was to delete new value into the starting of the  list
s=[1,3,4,5,16,7,64,6,81,15]
s[0:1]=[]
s

[3, 4, 5, 16, 7, 64, 6, 81, 15]

In [121]:
#37.was to delete new value into the middle of the  list
s=[1,3,4,5,16,7,64,6,81,15]
del s[len(s)//2]
s

[1, 3, 4, 5, 16, 64, 6, 81, 15]

In [126]:
#38.was to concat value into middle of the tuple
t=(10,20,30,40)
t=t[:len(t)//2]+(60,)+t[len(t)//2:]
t

(10, 20, 60, 30, 40)

In [129]:
#39.was to concat value into starting of the tuple
t=(10,20,30,40)
t=('a','b')+t
t

('a', 'b', 10, 20, 30, 40)

In [130]:
#40.was to concat value into ending of the tuple
t=(10,20,30,40)
t=t+('a','b')
t

(10, 20, 30, 40, 'a', 'b')

In [133]:
#41.was to modify the sequence of values in given tuple
s=(1,2,3,4)
s[:1]+(5,6)+s[2+1:]

(1, 5, 6, 4)

In [135]:
#42.was to delete the sequence of values in given tuple
s=(1,2,3,4)
s=s[:1]+s[3:]
s

(1, 4)

In [141]:
#43.was to concat the new value into the set
s={1,2,3,4,5,6}
s=s|{10,20,'A'}
s

{1, 10, 2, 20, 3, 4, 5, 6, 'A'}

In [147]:
#44.was to delete the specific value into the set
s={1,2,3,4,5,6,10,20,'A'}
s=s-{4,5,6}
s

{1, 10, 2, 20, 3, 'A'}

In [148]:
#45.was to concat the new key and value into the dict
d={'a':150}
d

{'a': 150}

In [158]:
#46.was to delete the specific key and value in the given dict
d={'a':'hai','b':750,'c':500,'d':780}
d['c']

500

In [159]:
#47.was to modify the the specific value in the given dict
x={10:150,20:"haii"}
x[10]=156
x

{10: 156, 20: 'haii'}

In [186]:
#48.was to concat the list value and tuple values by using typecasting
L=['A','B','C','D']
t=(10,20,30,40)
l+list(t)

['a', 'b', 'c', 'd', 50, 60, 70, 80, 90, 10, 20, 30, 40]

In [190]:
#49.was to concat the list value and tuple value with out using type casting
l
['a','b','c',10,20,30]
t
(10,20,30)
l+=t
l

['a', 'b', 'c', 'd', 50, 60, 70, 80, 90, 10, 20, 30, 40]

In [191]:
#50.was to check the given number is divisible by 3
n=9
res=n%3
res

0

In [1]:
#51.wae to check the given number is divisible by 2 and 6
n=12 
print(n%2==0 and n%6==0)

True

In [2]:
#52.wae to extract the last digit in given integer number(without type casting
n=1999
n%10

9

In [3]:
#53.wae to extract the last digit given intrger number(with type casting)
n=2026
(int(str(n)[-1]))%3==0

True

In [5]:
#54.wae to check the last digit is divisible by 3 from given integer number(with type casting)
n=19
(int(str(n)[-1]))%3==0
n=9
str(n)

'9'

In [6]:
#55.wae to check the given number is greater than 150
n=500
n>150

True

In [7]:
#56.wae to check given number is>=100
n=100
n>=100

True

In [8]:
#57. wae to check the given number is<150,print the result
n=16
(n%2==0)

True

In [9]:
#58.wae to check given number is <=100
n=90
n<=90

True

In [10]:
#59.wae to check the given number is greateer than 15 and less than24
n=18
n>15 and n<24

True

In [12]:
#60.wae to check the given number is even (divisible by 2)
n=10
(n%2==0)

True

In [13]:
#61.wae to check the given number is odd
n=19
(n%2!=0)

True

In [15]:
#62.wae to check perfornm the replication of a given sttring with 6
s="abc"
print(s*6)

abcabcabcabcabcabc

In [17]:
#63.wae to check the given number is divisible by 3 and  also the number should be greater than 22
n=27
(n%3==0) and (n>22)

True

In [26]:
#64.wae to check perform the length of the collection is even or not
g='qspiders'
len(g)
print(len(g)%2==0)
# here we can take q value is even number so its give true
#and if we take p value then it is not even number so its give false

True

In [25]:
#65.wae to check perform the length of the collection is less than 55 and greater than 16
p='abcdefghijklmnopqrstuvwxyz'
len(p)
print(len(p)>16 and len(p)<55)

True

In [1]:
#66.wae to check perform the length of the collection is divisible by 5 and odd
a='abcdefghijklmnopqrstuvwxyz'
print(len(a)%5==0 and len(a)%2!=0)

False

In [2]:
#67. WAE to check extract the middle position of a given collection is either str,list,tuple.
s=[10,('a','b'),[10,20]]
res=type(s[len(s)//2])
print(res in [str,list,tuple])

True

In [1]:
#68. WAE to check the given number is greater than 20 and less than 30 and it should be even.
a=26
print(20<a<30 and a%2==0)

True

In [2]:
#69. WAE to  check the given number is even and it should be less than 120.
a=100
print(a<120 and a%2==0)

True

In [3]:
#70. WAE to check the given number is even and present from 40 to 70.
a=60
print(a%2==0 and 40<a<70)

True

In [4]:
#71. WAE to check the given number is odd and should be greater than 97.
a=99
print(a%2!=0 and a>97)

True

In [5]:
#72. WAE to check the given number is less than 122 and greater than 48 and the number should be divisible by 4.
a=60
print(48<a<122 and a%4==0)

True

In [6]:
#73. WAE to check the given number is divisible by 3 or 5,displaying the value.
a=15
print(a%3==0 or a%5==0)

True

In [7]:
#74. WAE to check the given number is between 100 to 200 including the limit.
a=150
print(100<=a<=200)

True

In [10]:
#75. WAE to check the given number is in between 100 to 200.
a=199
print(100<a<200)

True

In [11]:
#76. WAE to check the given string last character ASCII value should be divisible by 5 or not.
a='apple'
print(ord(a[-1])%5==0)

False

In [12]:
#77. (A) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10>9 ) 
#(B) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be less than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10<9 )

False
True

In [13]:
#78. WAE to check the given number is Even or less than 25.
a=18
print(a%2==0 or a<25)

True

In [14]:
#79. WAE to check the given number is Even or greater than 25.
a=18
print(a%2==0 or a>25)

True

In [15]:
#80. WAE to check the given number is divisible by 3 or 5.
a=27
print(a%3==0 or a%5==0)

True

In [16]:
#81. WAE to check the given number is not an Even Number.
a=25
print((a)%2!=0)

True

In [17]:
#82. WAE to check the given number is not an odd Number.
a=26
print((a)%2==0)

True

In [18]:
#83. WAE to check the given number is not divisible by 3.
a=25
print((a)%3!=0)

True

In [19]:
#84. WAE to check the given number is not divisible by 3 and 5.
a=26
print(a%3!=0 and a%5!=0)

True

In [20]:
#85. WAE to check the given number is not divisible by 3 or 5.
a=26
print(a%3!=0 or a%5!=0)

True

In [21]:
#86. WAE to check the given character ASCII value is not divisible by 5.
a='h'
print(ord(a))
print(ord(a)%5!=0)

104
True

In [22]:
#87. WAE to check find out the ASCII character in a given number.
a=88
print(chr(a))

X

In [23]:
#88. WAE to find ASCII value of a given character.
a='A'
print(ord(a))

65

In [2]:
#89.wae to check the charecter is upper case or not
ch='G'
'A'<=ch and ch<='z'

True

In [3]:
#90 wae to check given character is lower case or not
ch='a'
'a'<=ch<='z'

True

In [1]:
#91. WAE to check the given character is a alphabet or not.
ch='U'
print( len(ch)==1 and 'A'<=ch<='Z' or 'a'<=ch<='z')

True

 not commit